.dashboard-container {
  min-height: 80vh;
  padding: 4em;
  text-align: center;
}

.notes-container {
  margin-top: 9em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
}

.loading {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading h2 {
  font-weight: 400;
  color: rgb(10, 10, 10);
}

.dashboard-container h2 {
  font-weight: 400;
  color: rgb(10, 10, 10);
}

.dashboard-container form {
  margin-top: 2em;
  margin-bottom: 2em;
}

.dashboard-container label {
  display: block;
  margin-bottom: 1em;
}

.dashboard-container form input {
  padding: 0.8em 1.2em;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  background-color: #efeeee;
  color: rgb(88, 88, 88);
  width: 30%;
}

.dashboard-container button {
  margin-top: 2em;
  width: 30%;
}
.dashboard-container button:hover {
  background-color: #24486e;
}

.tox-statusbar__branding {
  display: none;
}
