header {
  height: 10vh;
  width: 100vw;
  padding: 0 6em;
}

nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav ul a {
  text-decoration: none;
  color: grey;
}

nav ul .links {
  display: flex;
}

nav ul .links a {
  margin: 0.5em;
}
